doctype html
html
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content=description ? description : site.description)

            title
                block title
                    if title
                        = `${title} - ${description ? description : site.description}`
                    else
                        = description ? description : site.description

            link(rel='stylesheet', href=`${site.url}style.css`)

            link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
            link(rel="icon", href="/favicon.ico", type="image/x-icon")

            if development
                script(src='http://localhost:35729/livereload.js')

    body
        header#header
            block header
                if title
                    h1= title
                else
                    h1= site.author

        main#main
            block content
                != contents

        footer#footer
            block footer
                ul
                    li
                        | &copy; #{ new Date().getFullYear() } &nbsp;
                        a(href='/index.html') #{site.author}
                    li
                        a(href='/imprint.html').nav-item Imprint / Impressum
                    li
                        a(href='/disclaimer.html').nav-item Disclaimer / Haftungsausschluss
                    li
                        a(href='/privacy.html').nav-item Privacy Policy / Datenschutzerklärung
