doctype html
block vars
    - var bodyclass = null;
html
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content=locals.description)

            title
                block title
                    = page.title + ' - ' + locals.description
                    
            link(rel='stylesheet', href='/css/style.css')
            link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
                
    body(class=bodyclass)
        nav.nav
            block nav
                ul
                    li
                        a(href="/index.html")
                            i.fa.fa-home
                            | &nbsp;
                            = locals.name 
                    li
                        a(href="/imprint.html")
                            i.fa.fa-legal
                            | &nbsp;Impressum
        .container            
            block header
                header.header
                    h1= page.title
                        
            section.content
                block content

        footer.footer
            block footer
                p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
                    a(href='https://github.com/jnordberg/wintersmith') Wintersmith
